---
tags: 
    - blog
    - featured
title: Awesome title
date: 2022-03-09
layout: base.njk
slug: my_super_slug
translation: /link/to/translated/version/of/post
excerpt: Excerpt.
author: Author
image: /img/social_cards/img.jpg
ogtype: article
showPageNumbers: false
---

<h1>Blogpost</h1>